<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galops</title>
    <link rel="stylesheet" href="/HTML/styles/styles.css">
    <script src="../../JavaScripts/loadHeader.js"></script>
    <script src="../../JavaScripts/toggleMenu.js"></script>
    <script>
        const pathRelativeToRoot='http://localhost:8080/HTML/'
            loadHeader(pathRelativeToRoot);
    </script>
    <div id="header-placeholder"></div>
    
    <header>
        <h1>Flashcards Galop 1</h1>
    </header>

<body>

    <div class="container" id="flashcards-container"></div>



    <footer>
        <p>&copy; 2024 Célio et Lou. Tous droits réservés.</p>
    </footer>

        <script>
            var questionsAnswers = [
                { question: "Quelle est la taille minimale d’un cheval ?", answer: "1.48 m .", url:'../races/classification_equidés.html#section2'},
                { question: "Comment traverser la route en groupe ?", answer: "En 'dents de peigne'" },
                { question: "Quand est apparu le cheval sur la terre ?", answer:"Environ 55 millions d’années avant l’Homme", url:'../les_equides.html#histoire'},
                { question: "A quelle classe appartient les équidés ?", answer:"Les mammifères", url:"../les_equides.html#classification"},
                { question: "A quelle famille appartient les équidés ?", answer:"Les vertébrés",url:"../les_equides.html#classification"},
                { question: "Que est le types d’alimentation des équidés ?", answer:"Herbivore",url:"../les_equides.html"},
                { question: "Quel est le type de propulsion des équidés ?", answer:"Station quadrupédique"},
                { question: "Quel est le temps de gestation du cheval ?", answer:"11 mois"},
                { question:"Quelles sont les trois parties principales de la masse du cheval ?", answer:"L’arrière-main, le corps et l’avant-main"},
                { question:"Quelles sont les trois robes de base du cheval ?", answer:"Bai, Alezan et Noir."},
                { question:"Comment est un cheval qui a les oreilles pointées, franchement en avant et la nuque soutenue ?", answer:"Attentif"},
                { question:"Comment est un cheval qui a les oreilles couchées en arrière", answer:"Méfiant"},
                { question:"Comment est un cheval qui a la croupe contractée et le rein vouté ?", answer:"Craintif"},
                { question:"Quelle est la longueur d’attache conseillée ?", answer:"80 cm"},
                { questiion:"Que se passe-t-il si la longe d’attache est trop longue ?", answer:"Le cheval peut passer en dessous et prendre peur. Il peut aussi passer ses membres par dessus et réagir violemment (prise de longe)."},
                { questiion:"Que se passe-t-il si la longe d’attache est trop courte ?", answer:"Le cheval se sent prisonnier et tente de se libérer"},
                { question:"Quel est le matériel de pansage élémentaire ?", answer:"L’étrille, le bouchon, l’étriller"},
                { question:"Quelles sont les deux familles d’aide ?", answer:"Naturelles et artificielles"},
                { question:"Quelles sont les aides naturelles ?", answer:"L’assiette, les jambes, les mains, la voix, les caresses"},
                { question:"Quelles sont les aides artificielles ?", answer:"La cravache et l’éperon"}
            ];
        
            var flashcardsContainer = document.getElementById('flashcards-container');
            questionsAnswers.forEach(function(item, index) {
                var card = document.createElement('div');
                card.classList.add('flashcard'); // Ajoutez cette ligne pour ajouter la classe 'flashcard' à chaque carte
                card.classList.add('card');

                var question = document.createElement('div');
                question.textContent = item.question;
                question.classList.add('question');

                var answer = document.createElement('div');
                answer.textContent = item.answer;
                answer.classList.add('answer');
                answer.style.display = 'none';

                var buttonContainer = document.createElement('div');
                buttonContainer.classList.add('button-container');

                var showAnswerBtn = document.createElement('button');
                showAnswerBtn.textContent = 'Réponse';
                showAnswerBtn.classList.add('show-answer');
                showAnswerBtn.addEventListener('click', function() {
                    answer.style.display = 'block';
                    showAnswerBtn.style.display = 'none';
                    hideAnswerBtn.style.display = 'inline-block';
                });

                var hideAnswerBtn = document.createElement('button');
                hideAnswerBtn.textContent = 'Masquer';
                hideAnswerBtn.classList.add('hide-answer');
                hideAnswerBtn.style.display = 'none';
                hideAnswerBtn.addEventListener('click', function() {
                    answer.style.display = 'none';
                    hideAnswerBtn.style.display = 'none';
                    showAnswerBtn.style.display = 'inline-block';
                });

                var openPageBtn = document.createElement('button');
                openPageBtn.classList.add('small-btn');
                openPageBtn.textContent = "Plus d'infos";
                openPageBtn.classList.add('open-page');
                openPageBtn.dataset.url = item.url;
                openPageBtn.addEventListener('click', function() {
                    window.location.href = openPageBtn.dataset.url;
                });

                buttonContainer.appendChild(showAnswerBtn);
                buttonContainer.appendChild(hideAnswerBtn);

                card.appendChild(question);
                card.appendChild(answer);
                card.appendChild(buttonContainer);
                card.appendChild(openPageBtn); // Append openPageBtn to the card

                flashcardsContainer.appendChild(card);
            });

         
        </script>
</body>
</html>