<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galops</title>
    <link rel="stylesheet" href="/HTML/styles/styles.css">
    <script src="../../JavaScripts/loadHeader.js"></script>
    <script src="../../JavaScripts/toggleMenu.js"></script>
    <script>
        const pathRelativeToRoot='http://localhost:8080/HTML/'
            loadHeader(pathRelativeToRoot);
    </script>
    <div id="header-placeholder"></div>
    <main>
        <h1> Galops </h1>

        <h2>Réviser les galops 1 à 7 et les galops pleine nature</h2>

        <img src="cheval_noir.png" alt="Chevaaal">
        <section>
            <h3>Galops</h3>

            <div class='button-container'>
                <button id='galop_1'>Galop 1</button>
                <button id='galop_2'>Galop 2</button>
                <button id='galop_3'>Galop 3</button>
                <button id='galop_4'>Galop 4</button>
                <button id='galop_5'>Galop 5</button>
                <button id='galop_6'>Galop 6</button>
                <button id='galop_7'>Galop 7</button>
            <div>
        </section>
        <section>
        <h3>Galops pleine nature</h3>

        <div class='button-container'>
            <button id='galop_PN_1'>Galop PN 1</button>
            <button id='galop_PN_2'>Galop PN 2</button>
            <button id='galop_PN_3'>Galop PN 3</button>
            <button id='galop_PN_4'>Galop PN 4</button>
        <div>
        </section>
    </main>


    <footer>
        <p>&copy; 2024 Célio et Lou. Tous droits réservés.</p>
    </footer>

    <script>
        document.getElementById('galop_1').addEventListener('click', function() {
            window.location.href = 'page_galop1.html';
        });
        document.getElementById('galop_2').addEventListener('click', function() {
            window.location.href = 'page_galop2.html';
        });
        document.getElementById('galop_3').addEventListener('click', function() {
            window.location.href = 'page_galop3.html';
        });
        document.getElementById('galop_4').addEventListener('click', function() {
            window.location.href = 'page_galop4.html';
        });
        document.getElementById('galop_5').addEventListener('click', function() {
            window.location.href = 'page_galop5.html';
        });
        document.getElementById('galop_6').addEventListener('click', function() {
            window.location.href = 'page_galop6.html';
        });
        document.getElementById('galop_7').addEventListener('click', function() {
            window.location.href = 'page_galop7.html';
        });
        document.getElementById('galop_PN_1').addEventListener('click', function() {
            window.location.href = 'page_GPN1.html';
        });
        document.getElementById('galop_PN_2').addEventListener('click', function() {
            window.location.href = 'page_GPN2.html';
        });
        document.getElementById('galop_PN_3').addEventListener('click', function() {
            window.location.href = 'page_GPN3.html';
        });
        document.getElementById('galop_PN_4').addEventListener('click', function() {
            window.location.href = 'page_GPN4.html';
        });
    </script>
</body>
</html>
    