body {
    font-family: Coco, sans-serif;
    background-color: black;
    margin: 0 auto;
    font-size: 18px; 
    padding: 20px;
    text-align: center;
}

header {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}
header h1 {
    font-family: Coco, sans-serif;
    font-size: 32px;
    color: #ffffff;
    margin-top: 20px;
}

/* Style de la barre de navigation */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style des liens de navigation */
header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #666;
}

nav ul li{
    display:inline;
    margin-right: 20px;
}
nav ul li a{
    color: #666
}
nav ul li a:hover{
    color:black;
    font-weight:bold;
}

main {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    background-color: #f6d9d7;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    cursor: pointer;
}
.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button-container {
    margin-top: 20px;
    text-align: center;
}
.button-container button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
.button-container button:hover {
    background-color: #f6d9d7;
    color: black;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
ul {
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    text-align: left; 
    padding-left: 20px; 
    
    }
li {
    margin-bottom: 10px;
    }
p {
    text-align: center; 
}
#left-paragraph {
    position: absolute;
    text-align: left;
}
.expanded {
    height: auto; 
}
.collapsed {
    height: 0;
}
.btn-container {
display: flex;
justify-content: center; 
align-items: flex-start; 

}
.btn-top {
    
}
.text {
    padding-top: 40px;
    text-align:left;
}
.btn-top {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Coco, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btn:hover {
    background-color: #555;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the buttons */
}

.button-group .small-btn {
    flex: 1 0 20%; /* Make each button take up 20% of the container's width */
    max-width: 20%; /* Ensure that buttons don't grow larger than 20% */
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 5px; /* Add some margin around the buttons */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Coco, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.small-btn:hover {
    background-color: #f6d9d7;
}
        
.hidden-text {
    display: none; /* Cacher le texte par défaut */
}
.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card {
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
.question, .answer {
    font-size: 18px;
    margin-bottom: 10px;
}
.answer {
    display: none;
    color: #555;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container button {
    flex: 1;
    margin: 0 5px;
}
.open-page:hover {
    background-color: #ccc;
}
.open-page {
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-family: Baskerville, sans-serif;
    background-color: #f6d9d7;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    right: -100px; /* Position it outside the container */
}
.show-answer, .hide-answer, .open-page {
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-family: Baskerville, sans-serif;
    background-color: #f6d9d7;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.show-answer:hover, .hide-answer:hover, .open-page:hover {
    background-color: #ccc;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.expanded {
    height: auto; 
}
.collapsed {
    height: 0;
}
.btn-container {
display: flex;
justify-content: center; 
align-items: flex-start; 

}

.text {
    padding-top: 40px;
    text-align:left;
}
.btn-top {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Coco, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btn:hover {
    background-color: #555;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the buttons */
}

.button-group .small-btn {
    flex: 1 0 20%; /* Make each button take up 20% of the container's width */
    max-width: 20%; /* Ensure that buttons don't grow larger than 20% */
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 5px; /* Add some margin around the buttons */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Coco, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.small-btn:hover {
    background-color: #f6d9d7;
}
        
.hidden-text {
    display: none; /* Cacher le texte par défaut */
}

