<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'alimentation</title>
    <link rel="stylesheet" href="/HTML/styles/styles.css">
    <script src="../../JavaScripts/loadHeader.js"></script>
    <script src="../../JavaScripts/toggleMenu.js"></script>
    <script>
        const pathRelativeToRoot='http://localhost:8080/HTML/'
            loadHeader(pathRelativeToRoot);
    </script>
<body>
    <div id="header-placeholder"></div> 
    <main>
    

    <h1>L'alimentation</h1>