<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification des équidés</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1>Horses Learner</h1>
        <nav>
            <ul>
                <li><a href="page_principale.html">Accueil</a></li>
                <li><a href="about.html">À propos</a></li>
            </ul>
        </nav>
    </header>


<header>
    <h1>Classification des équidés</h1>
</header>

<main>
    <h2 id='centered'>Classification générale française</h2>
    <nav>
        <ul>
            <li><a href="#section1" onclick="toggleSection('section1')">Les races de sang</a></li>
            <li><a href="#section2" onclick="toggleSection('section2')">Les poneys</a></li>
            <li><a href="#section3"onclick="toggleSection('section3')">Les chevaux de trait</a></li>
            <li><a href="#section3"onclick="toggleSection('section4')">Les ânes</a></li>
        </ul>
    </nav>


    <section>
        <h3>Les races gérées</h3>
        <p> On parle de race gérée lorsqu'il existe un stud-book ou un registre et une association de race ou un organisme de sélection agréés par le Ministère de l’Agriculture.</p>
        <p> L’IFCE est garant de la mise en œuvre du règlement du stud-book, certifie les origines et effectue la tenue matérielle du livre généalogique. 
        Il assure l’émission des documents d’identification pour les animaux de ces races. En 2021, elles étaient au nombre de 56 et elles peuvent être réparties selon le type des équidés : chevaux de sang, poneys, chevaux de trait et ânes.</p>
    </section>

    
    <section class="collapsed" id="section1">
        <div class="btn-container">
            <button class="btn-top" onclick="toggleSection('section1')">Les races de sang</button>
        </div>
        <div class="text hidden-text">
            <p><strong>Vingt-cinq races de chevaux de sang sont reconnues et gérées en France.</strong></p>
            <p> Il s'agit de chevaux de taille et de poids moyens. La plupart des chevaux de course ou de sport sont des chevaux de sang.</p>
            <p>Races Françaises :</p>
            <div class="button-group">
                <button class="small-btn" onclick="goToRacePage('anglo_arabe')">Anglo Arabe</button>
                <button class="small-btn" onclick="goToRacePage('aqps')">AQPS</button>
                <button class="small-btn" onclick="goToRacePage('camargue')">Camargue</button>
                <button class="small-btn" onclick="goToRacePage('castillon')">Castillon</button>
                <button class="small-btn" onclick="goToRacePage('cheval_corse')">Cheval Corse</button>

                <button class="small-btn" onclick="goToRacePage('auvergne')">Cheval de Race Auvergne</button>
                <button class="small-btn" onclick="goToRacePage('cheval_de_dessage_francais')">Cheval de Dressage Français</button>
                <button class="small-btn" onclick="goToRacePage('anglo_normand')">Cheval de sport Anglo-Normand</button>
                <button class="small-btn" onclick="goToRacePage('cheval_du_vercors')">Cheval du Vercors de Barraquand</button>
                <button class="small-btn" onclick="goToRacePage('henson')">Henson</button>

                <button class="small-btn" onclick="goToRacePage('merens')">Mérens</button>
                <button class="small-btn" onclick="goToRacePage('miniature_francais')">Miniature Français</button>
                <button class="small-btn" onclick="goToRacePage('selle_francais')">Selle Français</button>
                <button class="small-btn" onclick="goToRacePage('trotteur_francais')">Trotteur Français</button>
                
            </div>
            <p>Races Etrangères :</p>
            <div class="button-group">
                <button class="small-btn" onclick="goToRacePage('arabe')">Arabe</button>
                <button class="small-btn" onclick="goToRacePage('barbe')">Barbe</button>
                <button class="small-btn" onclick="goToRacePage('creme')">Crème</button>
                <button class="small-btn" onclick="goToRacePage('criollo')">Criollo</button>
                <button class="small-btn" onclick="goToRacePage('irish_cob')">Irish-Cob</button>
                <button class="small-btn" onclick="goToRacePage('islandais')">Islandais</button>
                <button class="small-btn" onclick="goToRacePage('lipizan')">Lipizan</button>
                <button class="small-btn" onclick="goToRacePage('lustanien')">Lustanien</button>
                <button class="small-btn" onclick="goToRacePage('pur_sang')">Pur-sang</button>
                <button class="small-btn" onclick="goToRacePage('shygya')">Shagya</button>
                <button class="small-btn" onclick="goToRacePage('trakenher')">Trakehner</button>


        </div>
        
    </section>

    <section class="collapsed" id="section2">
        <div class="btn-container">
            <button class="btn-top" onclick="toggleSection('section2')">Les poneys</button>
        </div>
        <div class="text hidden-text">
            <p><strong>Onze races de poneys sont reconnues et gérées en France.</strong></p>
            <p>Cheval nain dont la taille au garrot peut aller jusqu'à 148 cm (ferré 149 cm).</p>
            <p> Quelques exemples :</p>
            <div class="button-group">
                <button class="small-btn" onclick="goToRacePage('poney_français_de_selle')">Poney français de selle</button>
                <button class="small-btn" onclick="goToRacePage('Pollok')">Pollok</button>
                <button class="small-btn" onclick="goToRacePage('highland')">Highland</button>
                <button class="small-btn" onclick="goToRacePage('new_forest')">New Forest</button>
                <button class="small-btn" onclick="goToRacePage('shetland')">Shetland</button>
                <button class="small-btn" onclick="goToRacePage('welsh')">Welsh</button>
                <button class="small-btn" onclick="goToRacePage('fjord_de_norvege')">Fjord de Norvège</button>
                <button class="small-btn" onclick="goToRacePage('haflinger')">Haflinger</button>
                <button class="small-btn" onclick="goToRacePage('connemara_d_irlande')">Connemara d'Irlande</button>

            </div>
            <p> Il exsiste 4 catégories de poneys :</p>
    </section>
        </div>

        
    </section>

     <section class="collapsed" id="section3">
        <div class="btn-container">
            <button class="btn-top" onclick="toggleSection('section3')">Les chevaux de trait</button>
        </div>
        <div class="text hidden-text">
            <p><strong> Dix races de chevaux de trait sont reconnues et gérées en France.</strong></p>
            <p>Exemples :</p>
            <div class="button-group">
                <button class="small-btn" onclick="goToRacePage('breton')">Breton</button>
                <button class="small-btn" onclick="goToRacePage('comtois')">Pollok</button>
                <button class="small-btn" onclick="goToRacePage('landais')">Trait du Nord</button>
                <button class="small-btn" onclick="goToRacePage('comtois')">Comtois</button>
                <button class="small-btn" onclick="goToRacePage('poitevain')">Poitevain</button>
                <button class="small-btn" onclick="goToRacePage('auxois')">Auxois</button>
                <button class="small-btn" onclick="goToRacePage('boulonnais')">Boulonnais</button>
            </div>
        </div>
        
    </section>

    <section class="collapsed" id="section4">
        <div class="btn-container">
            <button class="btn-top" onclick="toggleSection('section4')">Les ânes</button>
        </div>
        <div class="text hidden-text">
            <p><strong> Huit races d’ânes sont reconnues et gérées en France. </strong></p>
            <p>Exemples :</p>
            <div class="button-group">
                <button class="small-btn" onclick="goToRacePage('ane_du_cotentin')">Âne du Cotentin</button>
                <button class="small-btn" onclick="goToRacePage('baudet_du_poitou')">Baudet du Poitou</button>
                <button class="small-btn" onclick="goToRacePage('grand_noir_du_berry')">Grand Noir du Berry</button>
                <button class="small-btn" onclick="goToRacePage('ane_corse')">Âne Corse</button>
            </div>
        </div>
        
    </section>



    <section>
        <h3>Les conventions races co-gérées</h3>
        <p>4 races étrangères sont co-gérées (ex conventionnées) avec l’IFCE. </p>
        <p>Il n’existe pas de stud-book français de la race ni d’association agréée mais une convention entre l’IFCE et le stud-book du berceau de race permet l’attribution de l’appellation de la race pour les naissances en France. Le SIRE atteste une inscription faite par le stud-book du berceau de race, certifie les origines et émet un document d’identification qui porte l’appellation de la race.</p> 
        <div class="button-group">
                <button class="small-btn" onclick="goToRacePage('appaloosa')">Appaloosa</button>
                <button class="small-btn" onclick="goToRacePage('azteque')">Aztèque</button>
                <button class="small-btn" onclick="goToRacePage('paint_horse')">Paint-horse</button>
                <button class="small-btn" onclick="goToRacePage('cheval_miniature_americain')">Cheval Miniature Américain</button>
                <button class="small-btn" onclick="goToRacePage('miniature_americain')">Miniature Américain</button>
                <button class="small-btn" onclick="goToRacePage('nokota')">Nokota</button>
                <button class="small-btn" onclick="goToRacePage('quarter_horse')">Quarter Horse</button>
                <button class="small-btn" onclick="goToRacePage('shetland_americain')">Shetland Américain.</button>
            </div>
    </section>

    <section>
        <h3>Races à procédure simplifiée (ex Races Américaines)</h3>
        <p>8 races disposent d’une procédure simplifiée avec l’IFCE pour que le document d’identification soit émis sur la base des informations figurant sur le certificat d’origine du stud-book.</p>
        <div class="button-group">
                <button class="small-btn" onclick="goToRacePage('curly')">Curly</button>
                <button class="small-btn" onclick="goToRacePage('ponies_of_america')">Ponies of America</button>
                <button class="small-btn" onclick="goToRacePage('portuguais_de_sport')">Portuguais de Sport</button>
                <button class="small-btn" onclick="goToRacePage('z')">Z</button>
            </div>
    </section>

    <section>
        <h3>Cheveaux d'origine constatée (OC)</h3>
        <p>Plusieurs types d’équidés peuvent porter l’appellation origine constatée. Pour ces équidés, l’IFCE certifie les origines et édite un document d’identification portant l’appellation origine constatée.</p>
        <p>Cela signifie que l'âge de l'équidé ainsi que de ses deux parents sont connus et certifiés.</p>
        <p>On retrouve sous cette appélation :</p>
        <ul>
            <li>Les équidés issus d'un croisement non prévu par un livre généalogique.</li>
            <li>Les équidés issus de parents non-admis à la reproduction dans un livre généalogique ou portant eux-mêmes l'appellation OC ou ONC.</li>
        </ul>

    </section>

    <section>
        <h3> Chevaux d'origine non-constatée (ONC)</h3>
        <p>Cette appellation est valable pour les croisements issus de saillie et naissance non déclarées et dont le produit n’a pas d’origines certifiées. La gestion de l’ensemble des chevaux d’origine, non constatée (ONC) et l’édition de leur document d’identification est assurée par l’IFCE.</p>
    </section>
</main>

<footer>
    <p>&copy; 2024 Célio et Lou. Tous droits réservés.</p>
</footer>

<script>
    function toggleSection(sectionId) {
    var section = document.getElementById(sectionId);
    section.classList.toggle('expanded');
    section.classList.toggle('collapsed');
    
    // Trouver le texte à l'intérieur de la section
    var text = section.querySelector('.text');
    
    // Vérifier si la section est ouverte ou fermée
    if (section.classList.contains('expanded')) {
        // Afficher le texte
        text.classList.remove('hidden-text');
    } else {
        // Cacher le texte
        text.classList.add('hidden-text');
    }
    
  
    var smallButtons = section.getElementsByClassName('small-btn');
    for (var i = 0; i < smallButtons.length; i++) {
        if (section.classList.contains('expanded')) {
            smallButtons[i].style.display = 'inline-block';
        } else {
            smallButtons[i].style.display = 'none';
        }
    }
    }

    function goToRacePage(race) {
        // Redirige vers la page spécifique pour la race sélectionnée
        window.location.href =  'races/'+ race + '.html';
    }
    function toggleSection(sectionId) {
        var section = document.getElementById(sectionId);
        if (section.classList.contains("collapsed")) {
            section.classList.remove("collapsed");
            section.querySelector(".text").style.display = "block";
        } else {
            section.classList.add("collapsed");
            section.querySelector(".text").style.display = "none";
        }
    }
</script>
    
</body>
</html>